[submodule "os/src/net/dpdk/dpdk"]
	path = os/src/net/dpdk/dpdk
	url = https://github.com/DPDK/dpdk
	ignore = dirty
[submodule "experiments/baselines/fastclick/fastclick"]
	path = experiments/baselines/fastclick/fastclick
	url = https://github.com/tbarbette/fastclick
	ignore = dirty
[submodule "experiments/baselines/fastclick/dpdk"]
	path = experiments/baselines/fastclick/dpdk
	url = https://github.com/DPDK/dpdk
	ignore = dirty
[submodule "experiments/baselines/vigor/vigor"]
	path = experiments/baselines/vigor/vigor
	url = https://github.com/vigor-nf/vigor
[submodule "experiments/baselines/vigor/dpdk"]
	path = experiments/baselines/vigor/dpdk
	url = https://github.com/dpdk/dpdk
